.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    button{
        width: 30%;
        height: 50px;

        background-color: var(--p-white);
        border-radius: 12px;
        outline: none;
        border: solid 2px transparent;
        color: var(--p-black);
        margin: 24px 0 0 0;
        transition: all .2s ease-in-out;

        &:hover{
            cursor: pointer;
            border: solid 2px var(--p-white);
            background-color: var(--p-black);
            color: var(--p-white)
        }
    }
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        position: relative;
        bottom: 10%;

        height: 350px;
        width: 450px;

        background-color: var(--p-white);
        -webkit-box-shadow: 0px 0px 13px -2px rgba(35,37,40,0.19); 
        box-shadow: 0px 0px 13px -2px rgba(35,37,40,0.19);
        border-radius: 12px;

        .titleContainer{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;

            background-color: var(--p-black);
            border-radius: 12px 12px 0 0;

            p{
                font-size: 16px;
                color: var(--p-white)
            }
        }
        
        .field{
            position: relative;
            width: 80%;

            margin: 24px 0 12px 0;

            label{
                position: absolute;
                pointer-events: none;
                left: 6px;
                top: 50%;
                transform: translateY(-50%);
                transition: .2s ease-in-out;
                font-size: 14px;
            }

            .textareaLabel{
                top: 12px;
            }

            input ,textarea{
                height: 24px;
                width: 400px;
                padding: 0 6px;

                border: none;
                outline: none;
                border-bottom: solid 2px transparent;
                transition: .2s ease-in-out;
                background-color: #FFF;

                &:focus, &:not(:placeholder-shown){
                    border-bottom: solid 2px var(--p-black);

                    +label{
                        top: -10px;
                        font-size: 12px;
                    }
                }
            }

            textarea{
                height: 60px;
                resize: none;
            }
        }
        .buttonContainer{
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                background-color: var(--p-black);
                border-radius: 6px;
                border: none;
                outline: none;
                color: var(--p-white);
                padding: 8px 62px;
                margin: 0 6px 24px 6px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}