.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    min-height: 80vh;
    width: 30%;

    background-color: var(--p-white);
    margin: 24px 0 48px 0;
    border-radius: 24px;

    .titleContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 24px 24px 0 0;

        width: 100%;
        
        p{
            font-size: 20px;
            font-family: 'Momo Trust Display', sans-serif;
            color: var(--p-white);
        }
    }

    .taskContainer{
        column-count: 2;
        column-gap: 0;
    }
}