.container{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;

    background-color: var(--p-off-white);
    border-radius: 12px;
    transition: .2s ease-in-out;
    margin: 12px 0 18px 12px;

    &:hover{
        scale: 1.02;
        -webkit-box-shadow: 0px 0px 13px -2px rgba(35,37,40,0.19); 
        box-shadow: 0px 0px 13px -2px rgba(35,37,40,0.19);
    }

    .titleContainer{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        border-radius: 12px 12px 0 0;

        p{
            color: var(--p-white);
            margin: 12px 0;
            text-align: center;
        }
    }

    .descContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        padding: 0 24px;
        color: var(--p-black);

        p{
            margin: 12px 0;
        }
    }

    hr{
        border: dashed 1px var(--p-black);
        width: 90%;
        margin: 0 auto;
    }

    .pDeadline{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        margin: 12px 12px 12px -12px;
        font-size: 12px;
        color: var(--p-black);
        
    }

    .buttonContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        button{
            width: 50%;
            border: none;
            outline: none;
            border-radius: 0 0 0 12px;
            color: var(--p-white);

            &:last-child{
                border-radius: 0 0 12px 0;
            }
            
            &:hover{
                cursor: pointer;
                filter: brightness(.95);
            }
        }
    }

}